doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		meta(name='ROBOTS', content='NOINDEX, NOFOLLOW')
		link(rel='stylesheet' type='text/css' href='css/stylesheet.css')
	body
		ul#nav
		li
			a(href='/') Home
		li
			a(href='/new') Add new user
		li
			a(href='/users') Display all users
		li
			a(href='/search') Search
			
		form(method='post', action='/new')
			| First name: 
			input#firstname(type='text', name='firstname')
			br
			| Last name: 
			input#lastname(type='text', name='lastname')
			br
			| Email: 
			input#email(type='email', name='email')
			br
			input#button(type='submit', value='submit')
		script.
			$("#tfbutton").click(function() {
			var threeInputForm = {
			firstname: $("#firstname").val(),
			lastname: $("#lastname").val(),
			email: $("#email").val()
			}
			console.log("checking:" + threeInputForm)
			$.post("/new", {threeInputForm: threeInputForm}, function (response){

			})

			});


