doctype html
html
    head
        meta(name='ROBOTS', content='NOINDEX, NOFOLLOW')
        link(rel='stylesheet' type='text/css' href='css/stylesheet.css')
    body
        ul#nav
        li
            a(href='/') Home
        li
            a(href='/new') Add new user
        li
            a(href='/users') Display all users
        li
            a(href='/search') Search
            
        p There are #{users.length} users
        each user in users
            div.output
                p #{user.firstname} #{user.lastname} | email: #{user.email}

                








        //- each user in users
        //-     br
        //-     var userFirstname = user.firstname
        //-     br
        //-     var userLastname = user.lastname
        //-     br
        //-     var userEmail = user.email
        //- br

        //- for(let i = 0; i < users.length; i++){
        //-     let user = users[i]

        //-     console.log()
        //- }
        
        //- a(href='users/new') create new user


